* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c1c28;
  font-family: "Tajawal", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.circle {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #6966ff,
    #6e6bff,
    #726fff,
    #7774ff,
    #7c78ff,
    #807dff,
    #8481ff,
    #8986ff,
    #8d8aff,
    #918fff,
    #9693ff,
    #9a98ff
  );
  pointer-events: none;
  z-index: -40;
  filter: blur(90px);
  opacity: 0.5;
  display: none;
}

/*Start header*/
#header {
  height: fit-content;
  margin: 28px 28px 26px;
  position: relative;
}

#header .header-background {
  background-image: url(../images/header-image.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -50;
}
/*
-----  Start navbar -----
*/
.custom-navbar {
  width: 100%;
  background-color: transparent;
  padding: 15px 0;
}

.custom-navbar .container-fluid {
  padding: 24px 28px 0;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #c8c7d8;
  border-radius: 8px;
  transition: 0.4s all ease;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #393953;
}

.list-inline .list-inline-item .order-now {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  background-color: #393953;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s all ease;
  padding: 12px 35px;
}

.list-inline .list-inline-item .order-now:hover,
.list-inline .list-inline-item .order-now.active {
  background-color: #6966ff;
}

.list-inline .list-inline-item .order-now:focus {
  box-shadow: 0 0;
}

.nav-link {
  color: #555555;
  font-size: 14px;
  padding: 15px;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
  background-color: #e7e7e7;
}

.custom-navbar .btn-icon {
  margin-top: 10px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 15px;
}

.custom-navbar .btn-icon:focus {
  box-shadow: 0 0;
}

.hide {
  display: none;
}

/* 
-----  End navbar ----- 
*/

#header .container.d-flex {
  margin-top: 45px;
}

#header .container .binary-system {
  width: 913px;
  height: 360px;
  position: relative;
  overflow-x: clip;
}

#header .container .binary-system #binary-system-background1,
#header .container .binary-system #binary-system-background2,
#header .container .binary-system #binary-system-background3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -50;
  transition: 0.3s all ease;
}

#header .container .binary-system #binary-system-background1 {
  opacity: 0;
}

#header .container .binary-system #binary-system-background2 {
  opacity: 0;
}

#header .container .binary-system #binary-system-background3 {
  opacity: 0;
}

.container .binary-system .starting-phrase {
  width: 98%;
  margin-top: 15px;
}

.container .binary-system .starting-phrase h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.7;
  color: #ffffff;
  text-align: center;
}

.container .binary-system #horizontal-line {
  position: relative;
  top: -39px;
  width: 66%;
}

.container .binary-system .contact-us-btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #6966ff;
  padding: 10px 40px;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s all ease;
}
.container .binary-system .contact-us-btn:hover,
.container .binary-system .contact-us-btn.active {
  background-color: #393953;
}

.container .binary-system .contact-us-btn:focus {
  box-shadow: 0 0;
}

#header .container.programming-icon-section {
  margin-top: 50px;
}

.container .programming-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .programming-icon .list-inline-item img {
  width: 100%;
  height: 100%;
}

/*
----- End header -----
*/

/*
----- Start about us ------
*/
#about-us {
  height: fit-content;
  margin-bottom: 60px;
  position: relative;
  margin-left: 28px;
  margin-right: 28px;
}

#about-us .about-us-background {
  background-image: url(../images/section-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  z-index: -50;
}

#about-us .container .three-arrow {
  height: 121px;
  position: relative;
}

#about-us .container .three-arrow #first-arrow-icon {
  top: -42px;
  opacity: 0;
}

#about-us .container .three-arrow #second-arrow-icon {
  top: -19px;
  opacity: 0;
}

#about-us .container .three-arrow #third-arrow-icon {
  opacity: 0;
}

#about-us .container .down-arrow-icon {
  width: 32px;
  height: 121px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s all ease;
}

#about-us .container .about-us-and-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-us .container .about-us-and-paragraph h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

#about-us .container .about-us-and-paragraph p {
  color: #c8c7d8;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  width: 83%;
  text-align: center;
  margin-top: 10px;
}
/*
----- End about us ------
*/

/*
----- Start services ------
*/
#services {
  height: fit-content;
  margin-bottom: 90px;
  padding-top: 30px;
  margin-left: 28px;
  margin-right: 28px;
  position: relative;
}

#services .services-background {
  background-image: url(../images/section-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -61px;
  z-index: -50;
}

#services .container .col-md-4 {
  position: relative !important;
}

#services .container .services-and-icon {
  position: relative;
}

#services .container .services-and-icon #three-lines1,
#services .container .services-and-icon #three-lines2,
#services .container .services-and-icon #three-lines3 {
  position: absolute;
  left: 50%;
  top: -55%;
  transform: translate(67%, 0%) rotate(-5deg);
  transition: 0.3s all ease;
}

#services .container .services-and-icon #three-lines1 {
  left: 52%;
  transform: translate(73%, 2px) rotate(-1deg);
  opacity: 0;
}

#services .container .services-and-icon #three-lines2 {
  transform: translate(79%, 0%) rotate(-6deg);
  opacity: 0;
}

#services .container .services-and-icon #three-lines3 {
  opacity: 0;
}

#services .container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  position: relative;
}

#services .container .service-card {
  background-color: #393953;
  width: 85%;
  height: 89px;
  padding: 30px 15px 20px;
  margin: 25px auto 70px;
  border-radius: 11px;
  position: relative;
  box-shadow: 1px -1px #4f4f6f, -1px 0px #4f4f6f;
}

#services .container .service-card::before {
  content: "";
  background-color: #393953;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#services .col-md-4 .service-card + svg {
  position: absolute;
  z-index: 2;
}

#services .service-card svg {
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 34%);
  width: 50px;
  height: 55px;
}

#services .col-md-4:nth-child(1) .service-card:nth-child(1) + svg {
  right: 37px;
  top: 92px;
  height: 117px;
}

#services .col-md-4:nth-child(1) .service-card:nth-child(1) {
  transform: rotate(-2deg);
}

#services .col-md-4:nth-child(1) .service-card:nth-child(3) + svg {
  bottom: 67px;
  left: -59px;
}

#services .col-md-4:nth-child(1) .service-card:nth-child(3) {
  transform: rotate(2deg);
}

#services .col-md-4:nth-child(2) .service-card:nth-child(1) + svg {
  top: 16px;
  right: -62px;
}

#services .col-md-4:nth-child(2) .service-card:nth-child(1) {
  transform: rotate(-2deg);
}

#services .col-md-4:nth-child(2) .service-card:nth-child(3) + svg {
  bottom: 56px;
  left: -59px;
}

#services .col-md-4:nth-child(2) .service-card:nth-child(3) {
  transform: rotate(-2deg);
}

#services .col-md-4:nth-child(3) .service-card:nth-child(1) + svg {
  top: 16px;
  right: -62px;
}

#services .col-md-4:nth-child(3) .service-card:nth-child(1) {
  transform: rotate(-3deg);
}

#services .col-md-4:nth-child(3) .service-card:nth-child(3) + svg {
  left: 37px;
  top: 92px;
  height: 108px;
}

#services .col-md-4:nth-child(3) .service-card:nth-child(3) {
  transform: rotate(3deg);
}

#services .container .service-card h3 {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  position: relative;
  z-index: 2;
}
/*
----- End services ------
*/

/*
----- Start customers-----
*/

#customers {
  height: fit-content;
  margin-bottom: 70px;
  position: relative;
  margin-left: 28px;
  margin-right: 28px;
}

#customers .customers-background {
  background-image: url(../images/section-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -67px;
  z-index: -50;
}

#customers .container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  position: relative;
}

#customers .container .customers-and-icon {
  position: relative;
}

#customers .container .customers-and-icon #curly-line1,
#customers .container .customers-and-icon #curly-line2,
#customers .container .customers-and-icon #curly-line3 {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-46%, 11%);
  transition: 0.3s all linear;
  opacity: 0;
}

#customers .container .customers-and-icon #curly-line1 {
  margin-left: 107px;
}

#customers .container .customers-and-icon #curly-line2 {
  margin-left: 51px;
}

#customers .container .customers-box {
  background-color: rgba(21, 20, 29, 0.8);
  height: fit-content;
  width: 80%;
  width: 93%;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 25px;
}

#customers .container .customers-box .row {
  padding: 0 40px;
}

.container .customers-box .box-details {
  position: relative;
  height: 100%;
}

.container .customers-box .col-md-4 {
  padding: 0 40px;
}

.container .customers-box .box-details img {
  margin-top: 36px;
}

.container .customers-box .box-details h3 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 15px;
}

.container .customers-box .box-details p {
  margin-bottom: 0;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.6;
  margin-top: 20px;
}

/*
----- End customers-----
*/

/*
----- Start questions -----
*/

#questions {
  height: fit-content;
  margin-bottom: 90px;
  margin-left: 28px;
  margin-right: 28px;
  padding-top: 20px;
  position: relative;
}

#questions .questions-background {
  background-image: url(../images/section-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: -20px;
  z-index: -50;
}

#questions .container .questions-and-icon {
  position: relative;
}

#questions .container .questions-and-icon #circle-line1,
#questions .container .questions-and-icon #circle-line2,
#questions .container .questions-and-icon #circle-line3,
#questions .container .questions-and-icon #circle-line4 {
  position: absolute;
  top: -16%;
  right: 50%;
  transform: translate(16%, 0);
  transition: 0.3s all linear;
  opacity: 0;
}

#questions .container .questions-and-icon #circle-line1 {
  transform: translate(46%, 12%);
}

#questions .container .questions-and-icon #circle-line2 {
  transform: translate(16%, 24%);
}

#questions .container .questions-and-icon #circle-line3 {
  transform: translate(16%, 12%);
}

#questions .container .questions-and-icon h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#questions .accordion .accordion-item .accordion-header button::after {
  content: none;
}

#questions .accordion .accordion-item .accordion-header button i {
  margin-right: auto;
}

#questions .accordion .accordion-item .accordion-header button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0;
}

.accordion-item {
  border: 1px solid #393953;
}

.accordion-item:first-child {
  border-top: 1px solid #393953 !important;
}

.accordion-flush .accordion-item {
  background-color: transparent;
  color: #ffffff;
}

.accordion .accordion-item .accordion-header button {
  background-color: transparent;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 0;
  padding-left: 4px;
  padding-right: 0;
}

.accordion-body {
  padding: 0 0 1.25rem 1rem !important;
}

.accordion .accordion-body p {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

/*
----- End questions -----
*/

/*
----- One footer -----
*/

#footer {
  height: fit-content;
  margin-left: 28px;
  margin-right: 28px;
  position: relative;
}

#footer .footer-background {
  background-image: url(../images/footer-background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  /* width: 95vw; */
  height: 100%;
  top: -2px;
  z-index: -50;
}

#one-step .container .one-step-container {
  height: 281px;
  width: 93%;
  border-radius: 16px;
  background: linear-gradient(
    325.79deg,
    rgba(105, 102, 255, 0.8) 24.5%,
    rgba(105, 102, 255, 0.36) 117.69%
  );

  margin: 0 auto 90px;
  position: relative;
}

#one-step .container .one-step-container .overlay {
  background-image: url(../images/one-step-background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

#one-step .container .one-step-container .one-step-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  text-align: center;
}

#one-step .container .contact-us-btn {
  font-size: 16px;
  font-weight: 500;
  color: #6966ff;
  background-color: #ffffff;
  padding: 10px 40px;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  transition: 0.4s all ease;
  position: relative;
  z-index: 1;
}
#one-step .container .contact-us-btn:hover,
#one-step .container .contact-us-btn.active {
  background-color: #eeeeee;
  color: #6966ff;
}

#one-step .container .contact-us-btn:focus {
  box-shadow: 0 0;
}

.last-row .logo-icon-copyright {
  width: 90%;
  margin: auto;
}

.last-row .logo-icon-copyright .icons svg {
  width: 93%;
}

.last-row .logo-icon-copyright .copyright {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
/*
----- End Footer -----
*/

/* 
----- Responsive styles ----- 
*/

@media (max-width: 1199.98px) {
  .custom-navbar .navbar-collapse .navbar-nav {
    align-items: center;
  }

  #services .container .service-card::before {
    width: 75px;
    height: 75px;
  }

  #services .service-card svg {
    width: 45px;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .navbar-header .ncode-icon {
    margin-left: 20px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #services .container .service-card h3 {
    font-size: 17px;
  }

  #services .container .service-card {
    height: 83px;
  }
}

@media (max-width: 991.98px) {
  .custom-navbar .container-fluid {
    padding: 24px 0 0;
  }
  .container .binary-system .starting-phrase h1 {
    font-size: 50px;
  }
  .container .binary-system #horizontal-line {
    top: -27px;
  }
  #header .container.d-flex {
    margin-top: 0;
  }
  .custom-navbar {
    padding: 15px 20px 30px;
  }

  .custom-navbar .container {
    max-width: 100%;
  }

  .navbar-header {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }

  .navbar-header .btn-icon {
    float: left;
  }

  .list-inline.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .custom-navbar .navbar-nav li a.nav-link {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 7px 8px;
  }

  .navbar-collapse {
    margin-top: 15px;
    padding-top: 8px;
  }

  .overlay {
    display: none;
  }

  #services .container .service-card h3 {
    font-size: 16px;
  }

  #services .container h2::before {
    top: -113%;
    left: 55%;
    transform: rotate(-8deg);
  }

  #services .container .service-card::before {
    width: 72px;
    height: 72px;
  }

  #services .service-card svg {
    width: 43px;
    height: 55px;
  }

  .container .customers-box .box-details p {
    font-size: 15px;
  }
  #customers .container .customers-box {
    width: 100%;
  }
  #one-step .container .one-step-container .one-step-header {
    font-size: 30px;
    margin-top: 50px;
  }

  #about-us .container .three-arrow #second-arrow-icon,
  #about-us .container .three-arrow #first-arrow-icon {
    opacity: 0;
  }

  #about-us .container .three-arrow #third-arrow-icon,
  #header .container .binary-system #binary-system-background3 {
    opacity: 1;
  }
  .container .customers-box .col-md-4 {
    padding: 0 20px;
  }
  #customers .container .customers-box .row {
    padding: 0 20px;
  }

  #services .col-md-4:nth-child(2) .service-card:nth-child(3) + svg,
  #services .col-md-4:nth-child(1) .service-card:nth-child(3) + svg,
  #services .col-md-4:nth-child(2) .service-card:nth-child(1) + svg,
  #services .col-md-4:nth-child(3) .service-card:nth-child(1) + svg {
    width: 100px;
    height: 25px;
  }

  #services .col-md-4:nth-child(1) .service-card:nth-child(3) + svg {
    left: -52px;
  }

  #services .col-md-4:nth-child(3) .service-card:nth-child(3) + svg,
  #services .col-md-4:nth-child(1) .service-card:nth-child(1) + svg {
    width: 25px;
    height: 100px;
  }
}

@media (max-width: 767.98px) {
  .container .binary-system .starting-phrase h1 {
    font-size: 34px;
  }

  .container .binary-system #horizontal-line {
    top: -22px;
  }

  .container .binary-system .contact-us-btn {
    width: 80%;
    font-size: 20px;
  }

  .container .programming-icon {
    flex-wrap: wrap;
  }

  .container .programming-icon .list-inline-item {
    width: 19%;
    text-align: center;
  }

  .container .programming-icon .list-inline-item img {
    width: 56%;
    margin-bottom: 14px;
  }

  .container .binary-system .starting-phrase {
    margin-top: 37px;
  }

  #services .container .service-card::before {
    width: 80px;
    height: 80px;
  }

  #services .service-card svg {
    width: 45px;
    height: 55px;
  }

  #services .col-md-4:nth-child(1) .service-card:nth-child(1) + svg {
    right: 61px;
    top: 92px;
    height: 117px;
  }
  #services .col-md-4:nth-child(1) .service-card:nth-child(3) + svg {
    bottom: 9px;
    left: 9px;
    transform: scaleX(-1) rotate(-95deg);
  }
  #services .col-md-4:nth-child(2) .service-card:nth-child(1) + svg {
    top: 144px;
    right: 7px;
    transform: rotate(86deg);
  }
  #services .col-md-4:nth-child(2) .service-card:nth-child(3) {
    transform: rotate(2deg);
  }
  #services .col-md-4:nth-child(2) .service-card:nth-child(3) + svg {
    bottom: 9px;
    left: 10px;
    transform: scaleX(-1) rotate(-96deg);
  }
  #services .col-md-4:nth-child(3) .service-card:nth-child(1) + svg {
    top: 144px;
    right: 7px;
    transform: rotate(86deg);
  }
  #services .container .services-and-icon #three-lines3 {
    height: 53px;
    left: 49%;
  }
  #services .services-background {
    top: -33%;
  }

  #services .col-md-4:nth-child(3) .service-card:nth-child(1) + svg,
  #services .col-md-4:nth-child(2) .service-card:nth-child(3) + svg,
  #services .col-md-4:nth-child(2) .service-card:nth-child(1) + svg,
  #services .col-md-4:nth-child(1) .service-card:nth-child(3) + svg {
    height: 27px;
    width: 121px;
  }

  .container .customers-box .box-details p {
    font-size: 17px;
  }

  #customers .container .customers-and-icon #curly-line3 {
    width: 128px;
    height: 13px;
  }

  #customers .customers-background {
    top: -35%;
  }

  .container .col-md-4:not(:first-child) .box-details::before {
    width: 50%;
    height: 1px;
    top: 5%;
    right: 50%;
    transform: translateX(46%);
  }

  #one-step .container .one-step-container .one-step-header {
    font-size: 30px;
  }
  #one-step .container .contact-us-btn {
    width: 80%;
  }

  #one-step .container .one-step-container {
    padding: 0 12px;
  }

  .last-row .logo-icon-copyright .copyright {
    font-size: 16px;
  }

  #about-us .container .about-us-and-paragraph h2,
  #services .container h2,
  #customers .container h2,
  #questions .container .questions-and-icon h2 {
    font-size: 36px;
  }

  #about-us .container .down-arrow-icon,
  #about-us .container .three-arrow {
    height: 100px;
  }

  #about-us .container .three-arrow #second-arrow-icon,
  #about-us .container .three-arrow #first-arrow-icon {
    opacity: 0;
  }

  #about-us .container .three-arrow #third-arrow-icon,
  #header .container .binary-system #binary-system-background3 {
    opacity: 1;
  }

  #questions .container .questions-and-icon #circle-line1,
  #questions .container .questions-and-icon #circle-line2,
  #questions .container .questions-and-icon #circle-line3,
  #questions .container .questions-and-icon #circle-line4 {
    transform: translate(18%, 0);
    width: 233px;
    height: 57px;
  }
}

@media (max-width: 575.98px) {
  #header,
  #about-us,
  #services,
  #customers,
  #questions,
  #footer {
    margin-left: 0;
    margin-right: 0;
  }

  .container .binary-system .starting-phrase h1,
  #about-us .container .about-us-and-paragraph h2,
  #services .container h2,
  #customers .container h2,
  #questions .container .questions-and-icon h2 {
    font-size: 28px;
  }

  #about-us .container .about-us-and-paragraph p,
  .container .customers-box .box-details p {
    font-size: 16px;
  }
  .container .binary-system #horizontal-line {
    top: -22px;
  }
  .container .binary-system .contact-us-btn {
    width: 80%;
  }
  .container .programming-icon {
    flex-wrap: wrap;
  }
  .container .programming-icon .list-inline-item {
    width: 19%;
    text-align: center;
  }
  .container .programming-icon .list-inline-item img {
    width: 56%;
    margin-bottom: 14px;
  }
  .container .binary-system .starting-phrase {
    margin-top: 37px;
  }

  #services .container .services-and-icon #three-lines3 {
    height: 47px;
    transform: translate(29px, 0);
  }
  #customers .container .customers-box {
    width: 90%;
  }

  #about-us .container .down-arrow-icon,
  #about-us .container .three-arrow {
    height: 90px;
  }
  #questions .container .questions-and-icon #circle-line1,
  #questions .container .questions-and-icon #circle-line2,
  #questions .container .questions-and-icon #circle-line3,
  #questions .container .questions-and-icon #circle-line4 {
    transform: translate(19%, 0);
    width: 179px;
    height: 44px;
  }

  #one-step .container .one-step-container {
    width: 100%;
  }

  #one-step .container .one-step-container .one-step-header {
    font-size: 25px;
  }
}
